body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-besley: Besley;
  --font-barlow: Barlow;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-13xl: 32px;
  --font-size-17xl: 36px;
  --font-size-21xl: 40px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #3c1212;
  --color-gainsboro: #d9d9d9;
}
