@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.desktop-1-child {
  position: absolute;
  top: 53px;
  left: 0;
  width: 1440px;
  height: 481px;
  object-fit: cover;
}
.donate {
  position: absolute;
  top: 229px;
  left: 601px;
  font-size: 64px;
  letter-spacing: 0.1em;
  display: inline-block;
  font-family: var(--font-barlow);
  color: var(--color-white);
  width: 238px;
  height: 85px;
}
.desktop-1-item {
  position: absolute;
  top: 656px;
  left: 221px;
  background-color: var(--color-gainsboro);
  width: 304px;
  height: 206px;
}
.desktop-1-child1,
.desktop-1-child2,
.desktop-1-inner,
.rectangle-div {
  position: absolute;
  top: 649px;
  left: 564px;
  background-color: var(--color-gainsboro);
  width: 312px;
  height: 213px;
}
.desktop-1-child1,
.desktop-1-child2,
.rectangle-div {
  left: 922px;
  width: 320px;
}
.desktop-1-child1,
.desktop-1-child2 {
  top: 900px;
  left: 221px;
  width: 482px;
  height: 270px;
}
.desktop-1-child2 {
  left: 770px;
  width: 472px;
}
.span {
  color: #dc2727;
}
.select-an-amount-container {
  position: absolute;
  top: 1286px;
  left: 491px;
  font-size: 45.95px;
  display: inline-block;
  width: 515px;
  height: 78.49px;
}
.b,
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
}
.b {
  top: 43px;
  left: 30px;
  font-size: var(--font-size-21xl);
  display: inline-block;
  font-family: var(--font-besley);
  color: var(--color-white);
  text-align: left;
  width: 100px;
  height: 54px;
}
.ellipse-group,
.ellipse-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1412px;
  left: 213px;
  width: 160px;
  height: 160px;
  opacity: 1;
}
.ellipse-container.animate,
.ellipse-group.animate,
.ellipse-parent.animate,
.group-button.animate,
.group-div.animate {
  animation: 0.5s ease 0s 1 normal forwards scale-up;
}
.ellipse-group {
  left: 428px;
}
.b2 {
  position: absolute;
  top: 45px;
  left: 30px;
  font-size: var(--font-size-17xl);
  display: inline-block;
  font-family: var(--font-besley);
  color: var(--color-white);
  text-align: left;
  width: 130px;
  height: 54px;
}
.ellipse-container {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1412px;
  left: 624px;
  width: 160px;
  height: 160px;
  opacity: 1;
}
.b3 {
  position: absolute;
  top: 50px;
  left: 24px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  font-family: var(--font-besley);
  color: var(--color-white);
  text-align: left;
  width: 148px;
  height: 93px;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1412px;
  left: 864px;
  width: 172px;
  height: 160px;
  opacity: 1;
}
.other {
  position: absolute;
  top: 43px;
  left: 12px;
  display: inline-block;
  width: 160px;
  height: 74px;
}
.group-div {
  position: absolute;
  top: 1412px;
  left: 1088px;
  width: 172px;
  height: 160px;
  opacity: 1;
  color: var(--color-white);
}
.your-donation-will {
  position: absolute;
  top: 567px;
  left: 452px;
  font-size: var(--font-size-17xl);
  display: inline-block;
  width: 636px;
  height: 50px;
}
.your-contributions-will {
  position: absolute;
  top: 1648px;
  left: 355px;
  font-size: 33.52px;
  display: inline-block;
  width: 745px;
  height: 60.34px;
}
.b4,
.b5,
.b6,
.b7,
.b8 {
  position: absolute;
  top: 678px;
  left: 343px;
  display: inline-block;
  width: 77px;
  height: 54px;
}
.b5,
.b6,
.b7,
.b8 {
  left: 654px;
  width: 95px;
}
.b6,
.b7,
.b8 {
  top: 665px;
  left: 1036px;
  width: 115px;
}
.b7,
.b8 {
  top: 946px;
  left: 395px;
  width: 117px;
}
.b8 {
  top: 932px;
  left: 938px;
  width: 106px;
}
.can-feed-a {
  letter-spacing: 0.05em;
  line-height: 169%;
  font-weight: 600;
}
.b9 {
  color: var(--color-black);
}
.can-feed-a-container {
  top: 742px;
  left: 250px;
  width: 254px;
  height: 80px;
}
.can-feed-a-container,
.can-feed-a-container1,
.can-feed-a-container2,
.can-feed-a-container3,
.can-feed-a1 {
  position: absolute;
  font-size: var(--font-size-xl);
  display: inline-block;
  color: var(--color-gray);
}
.can-feed-a1 {
  top: 734px;
  left: 615px;
  letter-spacing: 0.05em;
  line-height: 169%;
  font-weight: 600;
  width: 258px;
  height: 111px;
}
.can-feed-a-container1,
.can-feed-a-container2,
.can-feed-a-container3 {
  top: 731px;
  left: 962px;
  width: 266px;
  height: 112px;
}
.can-feed-a-container2,
.can-feed-a-container3 {
  top: 1004px;
  left: 330px;
  width: 342px;
  height: 109px;
}
.can-feed-a-container3 {
  top: 1000px;
  left: 857px;
  width: 334px;
}
.desktop-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1872px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-besley);
}
